version: 2
updates:
 - package-ecosystem: "devcontainers"
   directory: "/"
   schedule:
     interval: daily
 - package-ecosystem: "maven"
   directory: "/"
   schedule:
     interval: daily
   commit-message:
     prefix: chore
     prefix-development: chore
     include: scope
   groups:
    jena:
      patterns:
        - "org.apache.jena:jena-*"
 - package-ecosystem: "docker"
   directory: "/src/main/docker/"
   schedule:
     interval: daily
 - package-ecosystem: "npm"
   directory: "/.github/semantic-release"
   schedule:
     interval: daily
   commit-message:
     prefix: chore
     prefix-development: chore
     include: scope
 - package-ecosystem: "github-actions"
   directory: "/"
   schedule:
     interval: daily
   commit-message:
     prefix: chore
     prefix-development: chore
     include: scope
